body {
    text-align: center;
    background: linear-gradient(#833ab4 0%, #fd1d1d 50%, #fcb045 100%);
    background-repeat: no-repeat;

}

img {
    border-style: solid;
    border-radius: 50%;
    width: 100px;
}

h1 {
    font-family: 'Dancing Script', cursive;
    ;
    text-shadow: 4px 3px 6px rgba(28, 0, 0, 1);
    font-size: 30px;
}

#bio {
    padding: 50px;
    text-align: center;
    font-size: 20px;
    font-family: system-ui;
}

#quote {
    border-style: solid;
    font-family: cursive;
}

.menu {
    list-style: none;
    font-family: cursive;
    float: right;
    top: 10px;
    right: 30px;
    cursor: pointer;
    color: black;
}

.link {
    background-color: papayawhip;
    float: left;
    color: dodgerblue;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 9px;
    padding-right: 9px;
    font-family: cursive;
    font-size: 20px;
}

.link:hover {
    background-color: lime;
}

#name {
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
    color: gold;
}

p {
    font-size: 35px;
    font-family: sans-serif;
}

html {
    scroll-behavior: smooth;
}

.button {
    background-color: #4CAF50;
    /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
#Inspiration{   
font-family: serif;
border-style: dashed;    
}
#ruskin_bond{
border-radius: 0px;
width:450px;    
}
img{
transition: transform .2s;      
}
img:hover{
 transform: scale(0.9);   
}
